<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    {% load humanize %}
    <link rel="stylesheet" href="{% static "app.css" %}">
    <title>FixIt - Trabajamos para ti</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
        <a href="/" class="brand-logo">FixIt</a>
    </div>
  </nav>

  <section id="main-container">
        <div class="worktype-banner">
          <div class="layer">
              <div class="row">
                  <div class="col s6 m4 l4 offset-m1 offset-l1">
                      <div class="worktype-image" style="background-image : url(' {{worktype.icon.url}} ')"></div>
                  </div>
                  <div class="col s6 m4 l4">
                    <h4>{{ worktype.name }}</h4>
                    {% if worktype.price_type == 'STANDARIZED' %}
                        <p>Precio: ${{ worktype.price | intcomma  }} </p>
                    {% endif %}
                    {% if worktype.price_type == 'NOT_STANDARIZED' %}
                        <p>Hora a: ${{ worktype.price | intcomma }}</p>
                    {% endif %}
                    {% if worktype.price_type == 'UNKNOWN' %}
                        <p>Cuentanos tu problema </p>
                    {% endif %}
                  </div>
              </div>
          </div>
        </div>
        
        <form action="/trabajos/{{worktype.url_name}}/agendar-cita/" method="POST">
            {% csrf_token %}
            <input type="hidden" value="{{ worktype.id }}" name="worktypeId">

            <div class="row">
              <div class="col s12 m4 l4 offset-m2 offset-l2">
                <h5> ¿Dónde enviamos tu servicio? </h5>
                <div class="divider"></div>

                <div class="input-field col s12">
                  <select id="addressId" name="addressId">
                    {% for address in myAddresses%}                  
                      <option value="{{ address.id }}">{{ address.name }}: {{ address.address }}</option>
                    {% endfor%}
                  </select>
                </div>
              </div>

              <div class="col s12 m4 l4">
                <h5> Agendar </h5>
                <div class="divider"></div>
                <div class="section">
                  <div class="input-field col s12">
                    fecha
                    <input type="date" class="datepicker" id="date" name="date">
                  </div>
                  <div class="input-field col s12">
                    Hora
                    <input type="time" class="timepicker"  id="time" name="time">
                  </div>
                    <button class="btn waves-effect waves-light"> Lo necesito ya </button>
                </div>
              </div>
            </div>
            <input type="submit" value="Pedir">
        </form>
  </section>
  <script>
    // $('.datepicker').pickadate({
    //   selectMonths: true,
    //   selectYears: 15,
    //   today: 'Hoy',
    //   clear: 'Borrar',
    //   close: 'Listo',
    //   monthsFull: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio', 'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
    //   monthsShort: ['Ene', 'Feb', 'Mar', 'Abr', 'May', 'Jun', 'Jul', 'Ago', 'Sep', 'Oct', 'Nov', 'Dic'],
    //   weekdaysFull: ['Domingo', 'Lunes', 'Martes', 'Miércoles', 'Jueves', 'Viernes', 'Sabado'],
    //   weekdaysShort: ['Dom', 'Lun', 'Mar', 'Mie', 'Jue', 'Vie', 'Sab'],
    //   showWeekdaysFull: false,
      
    // });
    // TODO(a-santamaria): not working 
    // https://github.com/chingyawhao/materialize-clockpicker/
    // $('.timepicker').pickatime();
  </script>
</body>