body{
	background-color: #F5F9E8 /*Kiss*/;
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 90vh;
	overflow: hidden;
}

img{
	height: 200px;
	width: auto;
	align-items: center;
	margin-top: 100px;
	margin-bottom: 50px;
}

#recover-password{
	display: flex;
	flex-direction: column;
	padding: 0 12vmin 4vmin 12vmin;
	border-radius: 15px;
	width: 350px;
}

label{
	font-family: Arial, Helvetica, sans-serif;
	white-space: nowrap;
	color: #526B76;
	margin: 5px;
}

input[type="password"]{
	margin-bottom: 5px;
	border: 3px solid #E6F3EB;
	border-radius: 15px;
	color: #5D5D5D;
	height: 2em;
	font-size: 1em;
	padding-left: 2em;
}

button{
	margin-top: 20px;
	border: 3px solid #E6F3EB;
	border-radius: 15px;
	background-color: #1EA29A;
	height: 40px;
	font-size: 1em;
	color: #FFF;
}

button:disabled{
	margin-top: 20px;
	border: 3px solid #E6F3EB;
	background-color: #A5DAD7;
	border-radius: 15px;
	color: #FFF;
}

#password-changed{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

#password-changed h2{
	color: #526B76;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: bold;
	margin-bottom: 0;
}

#password-changed h3{
	margin-top: 0;
	color: #526B76;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}