<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7" lang=""> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8" lang=""> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9" lang=""> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="">
<!--<![endif]-->

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>FixIt</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

    {% load staticfiles %}
    <link rel="stylesheet" href="{% static "stylesheet.css">

    <!--For Plugins external css-->
    <link rel="stylesheet" href="{% static "plugins.css" />

    <!--Theme custom css -->
    <link rel="stylesheet" href="{% static "style.css">

    <link rel="stylesheet" href="{% static "index.css" />
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <figure class="main_area">

        <div id="home" class="home home-main-content">
            <div class="home-overlay-fluid">
                <div class="container">
                    <div class="row">
                        <div id="download-buttons" class="main_home_content text-center wow fadeInUp" data-wow-duration="1.5s">
                            <div class="logo_img">
                                <a href=""><img src="{% static "logo.png" %}" alt="" /></a>
                            </div>
                            <p>Deja que los expertos lo hagan por ti</p>
                            <div class="separator"></div>
                            <a class="download-button" href="" class="btn btn-lg"><img src="{% static "android.png" %}">Pruébalo en tu teléfono android</a>
                            <a class="download-button" class="btn btn-lg"><img src="{% static "apple.png" %}">Pruébalo en tu teléfono  para IOS</a>
                            <a class="download-button" class="btn btn-lg"><img src="{% static "desktop.png" %}">O continúa en nuestra aplicación web </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of Banner Section -->


        <section id="about" class="about">
            <div class="about_overlay">
                <div class="container chikobiko">

                    <div id="services">
                        <div class="card">
                            <img src="{% static "flash.png" %}" alt="flash">
                            <p>Nuestros trabajadores están preparados para cuando los necesites.</p>
                        </div>
                        <div class="card">
                            <img src="{% static "coin.png" %}" alt="coin">
                            <p>No te volverás a preocupar por costos que no tenías previstos.</p>
                        </div>
                        <div class="card">
                            <img src="{% static "checkmark.png" %}" alt="checkmark">
                            <p>Todo nuestro personal está altamente calificado. Trabajos 100% Garantizados.</p>
                        </div>
                    </div>

                </div>
            </div>
        </section>
        <!-- End of Features Section -->

        <section id="contact" class="contact">
            <div class="about_overlay ">
                <div class="container bangbang">
                    <h2>Escríbenos</h2>
                    <div id="contact-us">
                        <img src="{% static "email.png" %}" alt="email">
                        <a id="email" href="mailto:joinus@fixitgroup.co?Subject=Quiero%20hacer%20parte%20de%20FixIt">
                            <p id="user">joinus</p>
                            <p id="domain">@fixitgroup.co</p>
                        </a>
                    </div>
                </div>
            </div>
        </section>
        <!-- End of contact With Map Section -->

        <footer id="footer" class="footer">
            <div class="container">
                <div class="row">
                    <div class="main_footer text-center wow fadeInUp" data-wow-duration="2s">
                        <p>Hecho con <i class="fa fa-heart"></i> por FixIt. FixIt es una marca registrada de Fixit group S.A.S.</p>
                    </div>
                </div>
            </div>
        </footer>

    </figure>


    <!-- STRAT SCROLL TO TOP -->

    <div class="scrollup">
        <a href="#"><i class="fa fa-chevron-up"></i></a>
    </div>

    <script srsc="https://code.jquery.com/jquery-1.11.2.min.js" integrity="sha256-Ls0pXSlb7AYs7evhd+VLnWsZ/AqEHcXBeMZUycz/CcA="
        crossorigin="anonymous">

        </script>

</body>

</html>