$primary-color: #12A19B;
$secondary-color :#12A19B;
$background-color :#fafafa;

$slipknot:     #2F3333;
$korn:         #42464C;
$cinderella:   #5D5D5D;
$metallica:    #277467;
$deff-leppard: #23A299;
$guns-n-roses: #5FA9A0;
$iron-maiden:  #5EA099;
$ac-dc:        #7EB6B1;
$kiss:         #F5F9E8;
$aerosmith:    #9AA52D;
$pearl-jam:    #AAB24A;
$cranberries:  #A2BD31;
$oasis:        #C6D36B;
$black-sabbath:#222;
$radiohead:    #526B76;
$the-strokes:  #DFDFDF;
$nirvana:      #8C9FA9;
$blur:         #CDD5D9;
$whitesnake:   #f4f4f4;

@import "node_modules/materialize-css/sass/materialize.scss";

body {
  background: $background-color;
  font-family: Lato,sans-serif;
}

#main-container {
  padding-top: 40px;
}

.iphone {
  max-width: 100%;
}

.login-image {
    max-height: 100%;
    max-width: 100%;
}

.login-logo{
    max-height: 200px;
}

.site-footer {
  text-transform: uppercase;
  font-size: 12px;
}

.login-box,
.signup-box {
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 3px;
  padding: 10px 0;
  text-align: center;
}

.signup-box .platzigram {
  font-family: 'Oleo Script';
  font-size: 42px;
}

.signup-form {
  width: 65%;
  margin: 0 auto;
}

.signup-form h2 {
  color: #a5a7aa;
  font-size: 1.2em;
}

.signup-form .btn.btn-fb {
  background-color: $primary-color;
  font-size: .8em;
}

.signup-form .btn.btn-fb:hover {
  background-color: $primary-color;
}

.signup-form .btn.btn-signup {
  background-color: $primary-color;
}

.worktypes-banner {
    position: relative;
    background: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -50px;
    color: #fff;
    .layer {
      padding: .5em 0;
      background-color: rgba(53, 90, 99, 0.56);
      position: relative;
      .card {
        background-color: rgba(84, 110, 122, 0.8) !important;
      }
    }
}

nav {
  z-index: 4;
  background-color: $metallica;
  height: 40px;
  position: fixed;
  line-height: 40px;
  .brand-logo {
    font-size: 20px;
    left: 0px;
    padding: 0px 15px;
    transform: none;
  }
}
.category-list {
  margin: 3em 0;
}
.category {
  overflow: hidden;
  padding: 8px, 8px;
  border-radius: 10px;
  margin-bottom: 1em;
  background: #fff;
  border: 1px solid #dddddc;
  .category-header {
    h5 {
      margin: 0px;
      padding: .5em 1em;
    }
    background-color: $primary-color;
    color: #fff;
    font-family: Lato,sans-serif;
    text-shadow: 1px 1px 1px rgba(0,0,0,.4);
  }

  .custom-card {
    &:hover {
      background: #f2f2f2;
    }
    height: 100px;
    margin: 0px;
    padding: .5em 1em;
    border-top: 1px solid #dddddc;
    display: flex;
    .card-image {
      float: left;
      width: 30%;
      height: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: 50% 50%;
      border-radius: 20px;
      border: 1px solid #dddddc;
    }
    .card-content {
      margin-top: auto;
      margin-bottom: auto;
      margin-left: .5em;
      h5 {
        margin: 0px;
      }
      p {
        margin: 0px;
        color: #686868;
      }
    }
  }
}