$primary-color: #12A19B;
$secondary-color :#12A19B;
$background-color :#fafafa;

@import "node_modules/materialize-css/sass/materialize.scss";

body {
  background: $background-color;
  color: $primary-color;
  font-family: Roboto;
}

#main-container {
  margin: 30px auto;
}

.iphone {
  max-width: 100%;
}

.login-image {
    max-height: 100%;
    max-width: 100%;
}

.login-logo{
    max-height: 200px;
}

.site-footer {
  text-transform: uppercase;
  font-size: 12px;
}

.login-box,
.signup-box {
  background-color: white;
  border: 1px solid #edeeee;
  border-radius: 3px;
  padding: 10px 0;
  text-align: center;
}

.signup-box .platzigram {
  font-family: 'Oleo Script';
  font-size: 42px;
}

.signup-form {
  width: 65%;
  margin: 0 auto;
}

.signup-form h2 {
  color: #a5a7aa;
  font-size: 1.2em;
}

.signup-form .btn.btn-fb {
  background-color: $primary-color;
  font-size: .8em;
}

.signup-form .btn.btn-fb:hover {
  background-color: $primary-color;
}

.signup-form .btn.btn-signup {
  background-color: $primary-color;
}

.card.horizontal {
  height: 150px;
}

.card-image img {
  height: 80%;
  max-height: 80%;
  min-height: 80%; 
  padding-top:10%;
}

.card .card-content {
  padding: 10px;
}

.worktypes-banner {
    padding: 2em 0;
    background: #000;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    color: #fff;
    height: 200px;
}
