<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta charset="utf-8" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    {% load static %}
    {% load humanize %}
    <link rel="stylesheet" href="{% static "app.css" %}">
    <title>FixIt - Trabajamos para ti</title>
</head>

<body>
  <nav>
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">FixIt</a>
    </div>
  </nav>
        
    <section id="main-container">
        <div class="worktypes-banner" style="background-image: url({% static "home.jpg" %})">
            <div class="layer">
                <div class="row">
                    <div class="col s6 m4 l4 offset-m1 offset-l1">
                        <div class="card">
                            <div class="card-content white-text">
                                <p>Busca, pide y haz seguimiento de trabajos desde tu celular.</p>
                            </div>
                            <div class="card-action">
                            <a href="#">Descarga el app de Fixit</a>
                            </div>
                        </div>
                        <!--<a class="waves-effect waves-light btn">Descarga el app de Fixit</a>-->
                    </div>
                    <div class="col s6 m4 l4 offset-m1 offset-l1">
                    <h4 class="center">Servicios para el hogar</h4>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="category-list">
                    {% for category in object_list %}
                    <div class="col s12 m6 l6">

                        <div class="category">
                            <div class="category-header">
                                <h5>{{ category.name }}</h5>
                            </div>
                            {% for worktype in category.worktypes.all %}
                                <!--<div class="col s12 m6 l4">-->
                                    
                                    <a href="/trabajos/{{worktype.url_name}}/agendar-cita/" class="custom-card">
                                        <div class="card-image" style="background-image : url(' {{worktype.icon.url}} ')">
                                        </div>
                                        <div class="card-content">
                                            <h5 class="type-header">{{ worktype.name }}</h5>
                                            {% if worktype.price_type == 'STANDARIZED' %}
                                                <p>Precio: ${{ worktype.price | intcomma  }} </p>
                                            {% endif %}
                                            {% if worktype.price_type == 'NOT_STANDARIZED' %}
                                                <p>Hora a: ${{ worktype.price | intcomma }}</p>
                                            {% endif %}
                                            {% if worktype.price_type == 'UNKNOWN' %}
                                                <p>No encuentras lo que necesitas? </p>
                                            {% endif %}
                                        </div>
                                    </a>
                                <!--</div>-->
                            {% endfor %}
                            </div><!--/category -->

                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
</body>

</html>
