<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.min.js"></script>

	{% load staticfiles %}
    {% load static %}

	<script src="{% static "recoverPassword.js"%}"></script>
	<link rel="stylesheet" type="text/css" href="{% static "recoverPassword.css"%}">
</head>
<body ng-app="recoverPasswordView" ng-controller="recoverPasswordViewCtrl">
	<img src="{% static "logo.png" %}" alt="Logo">

	<div id="recover-password" ng-show="!successfulChanged">
		<label ng-style=" normal ? {'color': '#526B76'} : {'color': '#F53D3D'}" ng-bind="guideText"></label>
		<input name="password" type="password" placeholder="Nueva contraseña"
			ng-model="password"
			ng-keyup="isAValidPassword()"></input>
		<input name="passwordConfirm" type="password" placeholder="Confirma la contraseña" 
			ng-model="passwordConfirmation" 
			ng-keyup="isAValidPasswordConfirmation()"></input>
		<button ng-disabled="disabled" ng-click="changePassword()">Cambiar contraseña</button>
	</div>

	<div id="password-changed" ng-show="successfulChanged">
		<h2>Has cambiado tu contraseña exitosamente</h3>
		<h3>ya puedes cerrar esta pestaña en tu navegador</h3>
	</div>
	
</body>
</html>
